.modal-cart {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);

	.cart {
		padding: 10px;
		background-color: #8f8f8f;
		width: 500px;
		.cart-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

.open {
	display: flex;
}
