header {
	display: flex;
	background-color: rgb(204, 137, 14);
	padding: 10px 20px;
	align-items: center;
	justify-content: space-between;
}

.cart-btn {
	display: flex;
	align-items: center;
	svg {
		transition: 0.4s;
		width: 35px;
		height: 35px;
	}
	svg:hover {
		fill: #fff;
	}
}
