.slick-slider {
	border: none !important;
	.slick-arrow {
		position: relative;
		margin: auto;
		transform: rotate(90deg);
	}
	.slick-prev {
		left: 0;
		bottom: 25px;
		&::before {
			font-size: 40px;
		}
	}
	.slick-next {
		right: 0;

		&::before {
			font-size: 40px;
		}
	}
}

.slick-slide {
	border: none !important;
}

.R {
	transform: rotate(180deg) !important;
}
